In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from BinningClassifier import *

In [3]:
X = pd.DataFrame({'job':['student', 'boss', 'boss', 'clerk', 'student', 'student']
                  , 'wage':[5, 500, 150, 60, 80, 20]})
Y = np.array([1,0,1,0,0,1])

In [4]:
xx = np.array(X)
xx

array([['student', 5],
       ['boss', 500],
       ['boss', 150],
       ['clerk', 60],
       ['student', 80],
       ['student', 20]], dtype=object)

In [5]:
xxx = pd.DataFrame(xx)
xxx[xxx.columns[1]].dtype

dtype('O')

In [6]:
type(xxx) == pd.DataFrame

True

In [7]:
df = pd.DataFrame({'x':X.job, 'y':Y})

In [8]:
gr = df.groupby('x')['y'].aggregate([sum, len])

In [9]:
prior_obs = 3
global_mean = np.mean(df['y'])
global_mean

0.5

In [10]:
gr['t'] = (gr['sum']+prior_obs*global_mean) / (gr['len']+prior_obs)
gr

         sum  len         t
x
boss       1    2  0.500000
clerk      0    1  0.375000
student    2    3  0.583333

In [11]:
d = gr['t'].rank().to_dict()
d

{'boss': 2.0, 'clerk': 1.0, 'student': 3.0}

In [12]:
X2 = X.replace({'job':d})
X2

   job  wage
0  3.0     5
1  2.0   500
2  2.0   150
3  1.0    60
4  3.0    80
5  3.0    20

In [13]:
X2['job'].dtype

dtype('float64')

In [14]:
len(X2)

6

In [15]:
pd.cut(X2['job'],[-1,2,10], retbins = True)

(0    (2, 10]
 1    (-1, 2]
 2    (-1, 2]
 3    (-1, 2]
 4    (2, 10]
 5    (2, 10]
 Name: job, dtype: category
 Categories (2, object): [(-1, 2] < (2, 10]], array([-1,  2, 10]))

In [16]:
np.digitize(X2['job'],[1.5, 2.5]).copy()

array([2, 1, 1, 0, 2, 2], dtype=int64)

In [17]:
-np.inf

-inf

In [18]:
type(gr.index[1])

str

In [19]:
gr

         sum  len         t
x
boss       1    2  0.500000
clerk      0    1  0.375000
student    2    3  0.583333

In [20]:
gr.iloc[1] = 3

In [21]:
gr

         sum  len         t
x
boss       1    2  0.500000
clerk      3    3  3.000000
student    2    3  0.583333

In [22]:
gr.drop(gr.index[2], axis = 0)

       sum  len    t
x
boss     1    2  0.5
clerk    3    3  3.0

In [23]:
b = BinningClassifier(max_bins = 2)

In [24]:
b.fit(X,Y)

In [25]:
b.bins

[array([ 2.]), array([ 500.])]